.image-tag-canvas {
  display: block;
  position: relative;
}

.image-tag-add {
  display: block;
  visibility: hidden;
  position: absolute;
  top:-30px;
  right:0;
  padding: 5px 20px;
  background: #000;
  color: #ccc;
  font-size: 14px;
  line-height: 20px;
}

.image-tag-canvas:hover .image-tag-add{
  visibility: visible;
}

.image-tag-add:hover {
  color: #fff;
  text-decoration:none;
}

.image-tag-box {
  border: 1px solid black;
  border-color: rgba(0,0,0,.5);
  position: absolute;
}

.image-tag-box-inner {
  border: 1px solid white;
  border-color: rgba(255,255,255,.5);
  display: block;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: absolute;
}

.image-tag-box-inner:hover {
  border-color: yellow !important;
}

.image-tag-box-editable {
  cursor: pointer;
}

.image-tag-caption {
  background: black;
  background: rgba(0,0,0,.75);
  color: #fff;
  display: none;
  width: 200px;
  padding:3px 7px;
  position: absolute;
  z-index:1;
}

.image-tag-caption a:link,
.image-tag-caption a:visited { color: #ccc;}
.image-tag-caption a:hover   { text-decoration: none; color: #fff; }
.image-tag-caption .prodname { font-size: 14px; }
.image-tag-caption .uc-price-product { font-size:16px; line-height:20px; }

.image-tag-caption .add-to-cart { float:right; }

.image-tag-caption .author {
  font-style: italic;
  font-size: 80%;
}

.image-tag-caption .actions {
  display: block;
  font-size: 80%;
}

#image-tag-edit-form {
  background: white;
  border: 1px solid black;
  padding: 7px;
  position: absolute;
  width: 300px;
  -moz-box-shadow:0 5px 10px #333;
  -webkit-box-shadow: 0 5px 10px #333;
  box-shadow: 0 5px 10px #333;
  z-index: 999;
}

#image-tag-edit-form form {
  clear: right;
  margin: 0 !important;
  padding: 0;
}

#image-tag-edit-form .box {
  margin: 0;
}

#image-tag-edit-form input.form-text,
#image-tag-edit-form #edit-comment-wrapper textarea {
  width: 90%;
}

#image-tag-edit-form textarea {
  height: 50px;
}

#image-tag-edit-form fieldset {
  background: transparent;
}

#image-tag-edit-form .form-item {
  margin: 0 0 5px 0;
}

#image-tag-edit-form .form-button,
#image-tag-edit-form .form-submit {
  margin: 0;
}

.image-tag-edit-box {
  border: 1px solid black;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 10px;
  left: 10px;
  cursor: move;
  width: 60px;
  height: 60px;
}

.image-tag-canvas .ui-resizable-handle {
  opacity: 0.8;
  border: 0;
}

.image-tag-edit-close {
  float: right;
}